.home{
  width: 100%;
  height: 100vh;
  background:url('../assets/home/home.svg') no-repeat center center/cover;
  position: absolute;
  top: 0;
  z-index: -1;
  color: white;
  margin: 0px auto;
  
}

.homecontainer{
  
  display: grid;
  grid-template-columns: repeat(2,auto);
  justify-content: space-between;
  max-width: 1180px;
  margin: 320px auto;
}
.homecontainer h2{
  font-family: 'Barlow Condensed' , sans-serif;
  font-weight: 300;
  font-size: 30px;
  color: #D0D6F9;
  
}
.firsthomesection h1{
  font-family: 'Bellefair', serif;
  font-size: 160px;
  font-weight: 100;
  margin-bottom: 30px;
}
.homecontainer p{
  font-family: 'Barlow', sans-serif ;
  font-size: 18px;
  line-height:1.7rem;
  color: #D0D6F9;
}
.secondhomesection h1{
  font-family: 'Bellefair', serif;
  color: black;
  font-weight: 100;
  
  
}
.circlehome{
 position: absolute;
  display: grid;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background: white;
 z-index: -1;
}
.circle-overlay{
  position: relative;
 margin-top: 80px;
  width: 250px;
  height: 250px;
  background: rgba(255,255,255,0.192);
  border-radius: 50%;
  transition: transform 2s;
  z-index: 1;
}
.circle-overlay:hover{
  transform: scale(1.5,1.5);
}


@media screen and  (max-width:950px  )
{
  
  .home{
    width: 100%;
    height: 150vh;
    background:url('../assets/home/tablet.jpg') no-repeat center center/cover;
    position: absolute;
    top: 0;
    
    z-index: -1;
    color: white;
    
  }
  
  .homecontainer{
  
    display: grid;
    grid-template-columns: repeat(1,auto);
    justify-content: center;
    align-items: center;
  }
  .firsthomesection{
    margin-top: -50px;
  }
 
  .secondhomesection h1{
    font-weight: 100;
    font-size: 35px;
  }
  .homecontainer p,
  .homecontainer h1,
  .homecontainer h2{
      text-align: center;
  }
  .secondhomesection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: -10px;
  }


  
}

@media screen and (max-width:780px){
    
  .home{
    width: 100%;
    height: 150vh;
    background:url('../assets/home/Desktop-Home (2).jpg') no-repeat center center/cover;
    position: absolute;
    top: 0;
    z-index: -1;
    color: white;
  }
  .homecontainer{
    display: grid;
    grid-template-columns: repeat(1,auto);
    
  }
  .homecontainer p,
  .homecontainer h1,
  .homecontainer h2{
      text-align: center;
  }
  .secondhomesection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .firsthomesection{
    margin-top: -100px;
  }


}

@media screen and (max-width:700px){
   .home{
     width: 100%;
     height: 110vh;
   }
   .firsthomesection h2{
     font-size: 18px;
   }
   .firsthomesection p{
     font-size: 14px;
    
   }
   .firsthomesection h1{
    font-weight: 100;
    font-size: 90px;
  }
  .homecontainer p,
  .homecontainer h1,
  .homecontainer h2{
      text-align: center;
  }
  .secondhomesection{
    margin-top: 100px;
  }
  .circlehome{
    width: 200px;
    height: 200px;
  }
  .circle-overlay{
    display: none;
  }
}
@media screen and (max-height:500px){
  .home{
    height: 250vh;
  }
  .secondhomesection h1{
    font-size: 20px;
  }
  .circle-overlay{
    display: none;
  }
  .circlehome{
   margin-top:180px;
    width: 160px;
    height: 160px;
  }
}